# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/

# VS Code
.vscode/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Tests
tests/

# Documentation
docs/

# Other
.DS_Store
Thumbs.db